.row{
    padding: 20px;
    color: rgb(254, 120, 196);
    font-family: "Raleway", sans-serif;
}

div{
    background-color: #faa6e5; /* rgb(245, 212, 235); /* color de fondo de educacion*/

  
}
h1,h3{
    display: inline; 
    
}
.table{
    color: #FFFFFF;

}
